* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5vh 10vw;
    border-bottom: 1px solid #DEDEDE;
    background-color: #fff;
}

.logo {
    width: 15%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font: 400 14px 'Mulish';
    color: #0F172A;
    width: 60%;
}

.buttons {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.buttons button {
   font: 400 14px 'Mulish';
   border: 1px solid #1D4ED8;
   border-radius: 5px;
   margin: 0 0.5vw;
   padding: 2vh 1.5vw;
   cursor: pointer;
}

.buttons :first-child {
    color: #1D4ED8;
    background-color: #fff;
}

.buttons :nth-child(2) {
    color: #F8FAFC;
    background-color: #1D4ED8;
}

main {
    background: rgba(160, 163, 189, 0.2);
    padding: 5vh 10vw 10vh 10vw;
}

.steps {
    display: flex;
    justify-content: space-between;
    padding: 0 17vw;
    margin-bottom: 5vh;
}

.first-step div, .second-step div, .third-step div {
    border-radius: 50%;
    color: #fff;
    margin: 5vh 4vw 1vh;
    padding: 1.3vh 1vw;
    position: relative;
    font: 500 16px 'Mulish';
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-step :first-child, .second-step :first-child {
    background-color: #008000;
}

.third-step :first-child {
    background-color: #1D4ED8;
}

.second-step div::before, .third-step div::before {
    content:"";
    position: absolute;
    right:100%;
    top: 50%;
    width:14vw;
    height:1vh;
    border-top: 1px dashed #A0A3BD;
    z-index: -1;
}

.first-step p, .second-step p {
    display: flex;
    justify-content: center;
    margin: 0 2vw;
    font: 600 14px 'Mulish';
    color: #4E4B66;
}

.third-step p {
    display: flex;
    justify-content: center;
    margin: 0 2 vw;
    font: 600 14px 'Mulish';
    color: #A0A3BD;
}

.payment-page {
    background-color: #fff;
    margin: 0 7vw;
    padding: 10vh 4vw;
    border-radius: 6px;
    text-align: left;
}

.info p, .personal-info p, .method p {
    font: 700 24px 'Mulish';
    color: #14142B;
}

.info form, .personal-info form {
    margin: 5vh 0;
    font: 400 14px 'Mulish';
    color: #8692A6;
}

.info form input {
    font: 400 16px 'Mulish';
    color: #000;
    margin: 1vh 0;
    padding: 2vh 1vw 2vh 0;
    border: none;
    border-bottom: 1px solid #E6E6E6;
    width: 100%;
}

.info form input:last-of-type {
    font: 700 16px 'Mulish';
    color: #1D4ED8;
}

.personal-info input {
    font: 400 18px 'Mulish';
    color: #4E4B66;
    margin: 1vh 0;
    padding: 2vh 1vw 2vh 3vw;
    border: 1px solid #E6E6E6;
    width: 100%;
}

.personal-info form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #E6E6E6;
}

.personal-info form p {
    font: 400 18px 'Mulish';
    color: #4E4B66;
    padding: 2vh 2vw 2vh 3vw;
}

.personal-info form div input {
    margin: 1vh 0;
    padding: 0 2vw;
    border: none;
    border-left: 1px solid #E6E6E6;
}

.personal-info form div input:focus {
    outline: none;
}

.method>div {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    margin: 5vh 0;
}

.method>div>div {
    border: 2px solid #DEDEDE;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin: 1vh 1vw;
    padding: 2vh 1vw;
    cursor: pointer;
}

.method>div>div img {
    object-fit: contain;
    width: 10vw;
    height: 5vh;
}

.method button {
    background-color: #1D4ED8;
    font: 700 16px 'Mulish';
    color: #F7F7FC;
    border: 1px solid #1D4ED8;
    border-radius: 4px;
    width: 100%;
    padding: 2vh 1vw;
    cursor: pointer;
}

footer {
    padding: 10vh 10vw;
}

.footer {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
}

.aboutus {
    width: 40%;
}

.aboutus p {
    font: 400 16px 'Mulish';
    color: #6E7191;
    margin: 2vh 0;
    padding: 0 1vw;
    line-height: 32px;
}

.explore {
    width: 15%;
    padding: 1vw;
}

.explore :first-child, .sponsor :first-child, .contact-us :first-child {
    font: 700 16px 'Mulish';
    color: #000;
    margin-bottom: 5vh;
}

.explore p {
    font: 400 14px 'Mulish';
    color:#4E4B66;
    margin: 3vh 0;
}

.sponsor {
    width: 25%;
    padding: 1vw;
}

.sponsor img {
    margin: 2vh 0;
}

.contact-us {
    width: 20%;
    padding: 1vw;
}

.socmed {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'a b';
}

.socmed img {
    grid-area: a;
    justify-content: space-between;
    align-items: flex-start;
}

.socmed p {
    grid-area: b;
    font: 600 14px 'Mulish';
    color: #6E7191;
}

.copyright {
    font: 400 14px 'Mulish';
    color: #4E4B66;
    text-align: center;
}