* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5vh 10vw;
    border-bottom: 1px solid #DEDEDE;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    width: 15%;
}

.logo img {
    object-fit: contain;
    width: 70%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font: 400 14px 'Mulish';
    color: #0F172A;
    width: 60%;
}

nav p:hover {
    color: #1D4ED8;
    cursor: pointer;
}

.account {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.account :first-child {
    font: 400 14px 'Mulish';
    color: #0F172A;
}

.account :nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1vw;
}

.account :nth-child(2) img {
    object-fit: contain;
    width: 2vw;
    height: 3vh;
}

.account :last-child {
    border-radius: 50%;
    height: 7vh;
    width: 7vh;
}

.account :last-child img {
    object-fit: cover;
}

header>:last-child {
    display: none;
}

main {
    background: rgba(160, 163, 189, 0.2);
    padding: 5vh 10vw 10vh 10vw;
}

.add-movie {
    background-color: #fff;
    margin: 0 7vw;
    padding: 10vh 4vw;
    border-radius: 6px;
    text-align: left;
}

.add-movie>p {
    font: 700 24px 'Mulish';
    color: #14142B;
}

.add-movie form {
    margin: 5vh 1vw;
    border-bottom: 1px solid;
    font: 400 16px 'Mulish';
    color: #696F79;
}

/* .add-movie form input:first-of-type {
    background-color: #1D4ED8;
    border: 1px solid #1D4ED8;
    border-radius: 8px;
    padding: 1vh 2vw;
    margin-top: 1vh;
    color: #fff;
    cursor: pointer;
} */

.add-movie form input {
    font: 400 16px 'Mulish';
    color: #4E4B66;
    margin: 1vh 0;
    padding: 2vh 2vw;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    width: 100%;
}

.add-movie form>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;
}

.add-movie form>div>:first-child {
    width: 50%;
    margin-right: 3vw;
}

.add-movie form>div>:last-child {
    width: 50%;
    margin-left: 3vw;
}

.add-movie form>div>:last-child>:last-child {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.add-movie form textarea {
    font: 400 16px 'Mulish';
    color: #4E4B66;
    margin: 1vh 0 3vh 0;
    padding: 2vh 2vw;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

#set {
    border: 1px solid #5F2EEA;
    border-radius: 4px;
    font: 400 20px 'Mulish';
    color: #5F2EEA;
    width: 5vw;
    padding: 0.5vh 1vw;
    margin: 2vh 0;
    text-align: center;
    cursor: pointer;
}

.add-movie>button {
    background-color: #1D4ED8;
    font: 700 16px 'Mulish';
    color: #F7F7FC;
    border: 1px solid #1D4ED8;
    border-radius: 4px;
    width: 100%;
    padding: 2vh 1vw;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    header {
        border-bottom: none;
    }

    .logo {
        width: 50%;
    }

    .logo img {
        width: 100%;
    }

    nav, .account {
        visibility: hidden;
    }

    header>:last-child {
        display: block;
    }

    .add-movie form>div {
        flex-direction: column;
        align-items: start;
    }

    .add-movie form>div>:first-child,
    .add-movie form>div>:last-child {
        width: 100%;
        margin: 1vh 0;
    }

    .add-movie form>div>:last-child>:last-child {
        flex-direction: column;
        width: 100%;
    }

    .add-movie form textarea {
        min-height: 20vh;
    }

    .add-movie form>.date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .add-movie form>.date p {
        width: 33%;
    }

    #set {
        width: 33%;
        margin-right: 1vw;
    }
}