* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5vh 10vw;
    border-bottom: 1px solid #DEDEDE;
    background-color: #fff;
    position: sticky;
    top:0;
    z-index: 1;
}

.logo {
    width: 15%;
}

.logo img {
    object-fit: contain;
    width: 70%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font: 400 14px 'Mulish';
    color: #0F172A;
    width: 60%;
}

nav p:hover {
    border-bottom: 1px solid #1D4ED8;
    cursor: pointer;
}

.account {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.account :first-child {
    font: 400 14px 'Mulish';
    color: #0F172A;
}

.account :nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1vw;
}

.account :nth-child(2) img {
    object-fit: contain;
    width: 2vw;
    height: 3vh;
}

.account :last-child {
    border-radius: 50%;
    height: 7vh;
    width: 7vh;
}

.account :last-child img {
    object-fit: cover;
}

main {
    background-color: #A0A3BD;
    padding: 10vh 5vw;
    display: flex;
    flex-direction: row;
}

.info {
    width: 25%;
    background-color: #fff;
    border-radius: 24px;
}

.info>:first-child {
    padding: 7vh 3vw;
    border-bottom: 1px solid #DEDEDE;
}

.info>:first-child>:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info>:first-child>:first-child p {
    font: 400 16px 'Mulish';
    color:#4E4B66;
}

.info>:first-child>:nth-child(2) {
    border-radius: 50%;
    width: 15vh;
    height: 15vh;
    margin: 5vh 5vw;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.info>:first-child>:nth-child(2) img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.info>:first-child>:last-child>:first-child {
    text-align: center;
    font: 600 20px 'Mulish';
    color: #14142B;
}

.info>:first-child>:last-child>:last-child {
    text-align: center;
    font: 400 14px 'Mulish';
    color: #4E4B66;
    margin: 1vh 0;
}

.info>:last-child {
    padding: 7vh 3vw;
}

.info>:last-child>:first-child {
    font: 600 16px 'Mulish';
    color: #4E4B66;
}

.info>:last-child>:nth-child(2) {
    background-color: transparent;
    border-radius: 16px;
    padding: 5vh 0;
    position: relative;
}

.info>:last-child>:nth-child(2)>:first-child {
    position: absolute;
    top: 0;
    right: -5%;
}

.info>:last-child>:nth-child(2)>:nth-child(2) {
    position: absolute;
    top: 10%;
    right: -10%;
}

.info>:last-child>:nth-child(2) div {
    background-color: #1D4ED8;
    border-radius: 16px;
    padding: 4vh 1vw;
    box-shadow: 0 1vh 3px rgba(29, 78, 216, 0.5);
}

.info>:last-child>:nth-child(2)>div :first-child {
    font: 700 18px 'Mulish';
    color: #fff;
    margin-bottom: 5vh;
}

.info>:last-child>:nth-child(2)>div :nth-child(2) {
    position: absolute;
    top: 15%;
    right: 0;
}

.info>:last-child>:nth-child(2)>:last-child{
    font: 600 24px 'Mulish';
    color: #fff;
}

.info>:last-child>:nth-child(2)>:last-child span {
    font: 400 10px 'Mulish';
}

.info>:last-child>:last-child p {
    font: 400 14px 'Mulish';
    color: #4E4B66;
    text-align: center;
}

.info>:last-child>:last-child>div {
    background: #F5F6F8;
    border-radius: 8px;
    height: 1vh;
    margin: 2vh 0;
    box-shadow: inset 0 -2px 5px rgba(0,0,0,0.2);
}

.info>:last-child>:last-child>div>div {
    background: #1D4ED8;
    border-radius: 8px;
    height: 1vh;
    width: 50%;
}

main>:nth-child(2) {
    width: 75%;
    margin-left: 4vw;
}

.option {
    background-color: #fff;
    border-radius: 16px;
    padding: 4vh 2vw;
    display: flex;
    flex-direction: row;
}

.option p {
    font: 400 18px 'Mulish';
    color:  #AAAAAA;
    margin-right: 3vw;
    cursor: pointer;
}

.option p:hover {
    color: #14142B;
}

.history {
    margin: 7vh 0;
    padding: 7vh 3vw;
    border-radius: 24px;
    background-color: #fff;
    display: grid;
    grid-template-areas: 
    'a a'
    'b c';
}

.history>:first-child {
    grid-area: a;
    border-bottom: 1px solid #DEDEDE;
    display: grid;
    grid-template-areas: 
    'd f'
    'e f';
}

.history>:first-child>:first-child {
    grid-area: d;
    font: 400 14px 'Mulish';
    color: #AAAAAA;
}

.history>:first-child>:nth-child(2) {
    grid-area: e;
    font: 600 24px 'Mulish';
    color: #000;
    margin-bottom: 7vh;
}

.history>:first-child img {
    grid-area: f;
    justify-self: end;
}

.history>:nth-child(2) {
    grid-area: b;
    margin-top: 3vh;
}

#active {
    color: #00BA88;
    font: 700 14px 'Mulish';
    background: rgba(0, 186, 136, 0.2);
    border-radius: 8px;
    border: 1px solid rgba(0, 186, 136, 0.2);
    padding: 2vh 0;
    width: 15vw;
}

#notpaid {
    color: #E82C2C;
    font: 700 14px 'Mulish';
    background: rgba(232, 44, 44, 0.2);
    border-radius: 8px;
    border: 1px solid rgba(232, 44, 44, 0.2);
    padding: 2vh 0;
    width: 15vw;
}

.history>:nth-child(2)>:first-child {
    color: #6E7191;
    font: 700 14px 'Mulish';
    background: rgba(110, 113, 145, 0.2);
    border-radius: 8px;
    border: 1px solid rgba(110, 113, 145, 0.2);
    padding: 2vh 0;
    width: 15vw;
}

.history>:nth-child(2)>:last-child {
    color: #1D4ED8;
    font: 700 14px 'Mulish';
    background: rgba(29, 78, 216, 0.2);
    border-radius: 8px;
    border: 1px solid rgba(29, 78, 216, 0.2);
    padding: 2vh 0;
    width: 15vw;
}

.history>:nth-child(3) {
    grid-area: c;
    margin: 3vh 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.history>:nth-child(3) p {
    font: 400 18px 'Mulish';
    color: #AAAAAA;
    margin-right: 1vw;
}

.history>:nth-child(3) img {
    cursor: pointer;
}