* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5vh 10vw;
    border-bottom: 1px solid #DEDEDE;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    width: 15%;
}

.logo img {
    object-fit: contain;
    width: 70%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font: 400 14px 'Mulish';
    color: #0F172A;
    width: 60%;
}

nav p:hover {
    border-bottom: 1px solid #1D4ED8;
    cursor: pointer;
}

.buttons {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.buttons button {
   font: 400 14px 'Mulish';
   border: 1px solid #1D4ED8;
   border-radius: 5px;
   margin: 0 0.5vw;
   padding: 2vh 1.5vw;
   cursor: pointer;
}

.buttons :first-child {
    color: #1D4ED8;
    background-color: #fff;
}

.buttons :nth-child(2) {
    color: #F8FAFC;
    background-color: #1D4ED8;
}

header>:last-child {
    display: none;
}

main {
    position: relative;
    display: flex;
    flex-direction: row;
}

.success {
    padding: 20vh 5vw 20vh 10vw;
    width: 60%;
    background: url(../img/avenger.png);
    background-size: cover;
    z-index: 0;
}

.success::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: -1;
    width: 60%;
}

.success>:first-child {
    padding: 5vh 0;
}

.success>:first-child img {
    object-fit: contain;
    width: 70%;
    height: 50%;
}

.success>:nth-child(2) {
    font: 700 48px 'Mulish';
    color: #fff;
}

.success>:nth-child(3) {
    font: 400 24px 'Mulish';
    color: #fff;
    margin: 5vh 0;
}

.success>:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.success>:last-child p {
    font: 700 18px 'Mulish';
    color: #fff;
    margin-right: 2vw;
}

.success>:last-child div>:last-child {
    display: none;
}

.ticket {
    width: 40%;
    background: rgba(160, 163, 189, 0.2);
    padding: 10vh 10vw;
}

.ticket>:first-child {
    background-color: #fff;
    padding: 5vh 3vw;
}

.ticket>:first-child>:first-child {
    padding-bottom: 3vh;
    border-bottom: 1px dashed rgba(222,222,222,1);
}

.ticket>:first-child>:first-child img {
    object-fit: contain;
    width: 100%;
    height: 100%
}

.ticket>:first-child>:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    'a b'
    'c d'
    'e f'
    'g g';
    padding-top: 5vh;
}

.summary>:first-child {
    grid-area: a;
}

.summary>:nth-child(2) {
    grid-area: b;
}

.summary>:nth-child(3) {
    grid-area: c;
}

.summary>:nth-child(4) {
    grid-area: d;
}

.summary>:nth-child(5) {
    grid-area: e;
}

.summary>:nth-child(6) {
    grid-area: f;
}

.total {
    grid-area: g;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.total>:nth-child(2) {
    text-align: right;
}

.summary div>:first-child {
    font: 600 12px 'Mulish';
    color: #AAAAAA;
}

.summary div>:nth-child(2) {
    font: 600 14px 'Mulish';
    color: #14142B;
    margin: 1vh 0 2vh 0;
}

.ticket-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 7vh 0;
}

.ticket-button button {
    font: 400 14px 'Mulish';
    border: 1px solid #1D4ED8;
    border-radius: 5px;
    padding: 2vh 1.5vw;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
 }

 .ticket-button button img {
    width: 10%;
    height: 10%;
    margin-right: 1vw;
 }
 
 .ticket-button>:first-child {
    color: #1D4ED8;
    background-color: #fff;
 }
 
 .ticket-button>:nth-child(2) {
    color: #F8FAFC;
    background-color: #1D4ED8;
 }

footer {
    padding: 10vh 10vw;
}

.footer {
    display: grid;
    grid-template-columns: 40% 15% 25% 20%;
    grid-template-areas: 
    'a c h m'
    'a c h m'
    '. c h m'
    'b c h m'
    '. c h m'
    '. . h m'
    '. . h m'
    '. . . m'
}

.aboutus {
    grid-area: a;
}

.aboutus p {
    grid-area: b;
    font: 400 16px 'Mulish';
    color: #6E7191;
    margin: 2vh 0 10vh 0;
    padding: 0 1vw;
    line-height: 32px;
}

.explore {
    padding: 1vw;
}

.explore :first-child {
    grid-area: c;
    font: 700 16px 'Mulish';
    color: #000;
    margin-bottom: 5vh;
    display: grid;
    grid-template-areas: 
    'd'
    'e'
    'f'
    'g'
}

.explore p {
    font: 400 14px 'Mulish';
    color:#4E4B66;
    margin: 3vh 0;
}

.explore p:first-of-type {
    grid-area: d;
}

.explore p:nth-of-type(2) {
    grid-area: e;
}

.explore p:nth-of-type(3) {
    grid-area: f;
}

.explore p:nth-of-type(4) {
    grid-area: g;
}

.sponsor {
    padding: 1vw;
}

.sponsor :first-child {
    grid-area: h;
    font: 700 16px 'Mulish';
    color: #000;
    margin-bottom: 5vh;
    display: grid;
    grid-template-areas: 
    'i'
    'j'
    'k'
}

.sponsor img:first-of-type {
    grid-area: i;
    width: 50%;
    height: 20%;
}

.sponsor img:nth-of-type(2) {
    grid-area: j;
    margin: 2vh 0;
    width: 70%;
    height: 20%;
}

.sponsor img:nth-of-type(3) {
    grid-area: k;
    width: 50%;
    height: 10%;
}

.contact-us {
    padding: 1vw;
    display: grid;
    grid-template-areas: 
    'n'
    'o'
    'p'
    'q'
    'r'
}

.contact-us :first-child {
    grid-area: n;
    font: 700 16px 'Mulish';
    color: #000;
    margin-bottom: 5vh;
}

.socmed {
    display: flex;
    flex-direction: row;
}

.socmed img {
    width: 2vw;
    height: 4vh;
    justify-content: space-between;
    align-items: flex-start;
}

.socmed p {
    text-align: left;
    margin-left: 1vw;
    grid-area: b;
    font: 600 14px 'Mulish';
    color: #6E7191;
}

.socmed:first-of-type {
    grid-area: o;
}

.socmed:nth-last-of-type(3) {
    grid-area: p;
}

.socmed:nth-last-of-type(2) {
    grid-area: q;
}

.socmed:last-of-type {
    grid-area: r;
}

.copyright {
    font: 400 14px 'Mulish';
    color: #4E4B66;
    text-align: center;
}

@media screen and (max-width: 767px) {
    header {
        border-bottom: none;
    }

    .logo {
        width: 50%;
    }

    .logo img {
        width: 100%;
    }

    nav, .buttons {
        visibility: hidden;
    }

    header>:last-child {
        display: block;
    }

    main {
        flex-direction: column;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .success {
        width: 100%;
        background-position: center;
    }

    .success::before {
        width: 100%;
        height: 127vh;
    }

    .success>:first-child img {
        width: 100%;
        height: 40%;
        padding: 0 15vw;
    }

    .success>:nth-child(2) {
        font: 700 40px 'Mulish';
        text-align: center;
    }

    .success>:nth-child(3) {
        font: 400 18px 'Mulish';
        text-align: center
    }

    .success>:last-child {
        display: flex;
        flex-direction: column;
    }

    .success>:last-child p {
        font: 700 16px 'Mulish';
        text-align: center;
        margin: 3vh 0;
    }

    .success>:last-child div>:first-child {
        display: none;
    }

    .success>:last-child div>:last-child {
        display: block;
    }

    .ticket {
        width:100%;
    }

    .summary {
        padding: 5vh 7vw;
    }

    .total {
        padding: 2vh 1vw;
        justify-content: space-evenly;
    }

    .total>:nth-child(2) {
        text-align: left;
    }

    .footer {
        grid-template-columns: 1fr;
        grid-template-areas: 
        'a'
        'b'
        'c'
        'c'
        'c'
        'h'
        'h'
        'm'
        'm'
        'm';
    }

    .aboutus {
        width: 100%;
    }

    .explore {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 5vh 7vh 7vh 10vh;
        grid-template-areas: 
        'c . .'
        'd e f'
        'g . .'
        '. . .';
    }

    .explore :first-child {
        grid-area: c;
        margin-bottom: 0;
    }

    .explore p:first-of-type {
        grid-area: d;
    }
    
    .explore p:nth-of-type(2) {
        grid-area: e;
    }
    
    .explore p:nth-of-type(3) {
        grid-area: f;
    }
    
    .explore p:nth-of-type(4) {
        grid-area: g;
    }

    .sponsor {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 5vh 10vh 10vh;
        grid-template-areas: 
        'h h h'
        'i j k'
        '. . .';
        align-items: center;
    }

    .sponsor>:first-child {
        grid-area: h;
    }

    .sponsor img:first-of-type {
        grid-area: i;
        width: 80%;
        height: 80%;
    }
    
    .sponsor img:nth-of-type(2) {
        grid-area: j;
        width: 100%;
        height: 100%;
    }
    
    .sponsor img:nth-of-type(3) {
        grid-area: k;
        width: 60%;
        height: 40%;
        margin-left: 3vw;
    }

    .contact-us {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        'n n n n'
        'o p q r'
        '. . . . ';
    }

    .contact-us :first-child {
        grid-area: n;
    }

    .socmed:first-of-type {
        grid-area: o;
    }
    
    .socmed:nth-last-of-type(3) {
        grid-area: p;
    }
    
    .socmed:nth-last-of-type(2) {
        grid-area: q;
    }
    
    .socmed:last-of-type {
        grid-area: r;
    }

    .socmed img {
        width: 5vw;
        height: 5vh;
        justify-content: left;
        align-items: center;
    }

    .socmed p {
        display: none;
    }

    .copyright {
        text-align: left;
    }
}