* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/avenger.png);
    background-position: 50% 40%;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: -1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin: 10vh 10vw 3vh;
    display: flex;
    justify-content: center;
}

.logo img {
    object-fit: cover;
    width: 50%;
    height: 50%;
}

.signin {
    background-color: #fff;
    border-radius: 8px;
    padding: 5vh 3vw;
}

.welcome {
    margin: 5vh 2vw 1vh;
}

.welcome div {
    font: 700 32px 'Mulish';
    color: #121212;
    margin: 1vh 1vw;
}

.welcome p {
    font: 400 18px 'Inter';
    color: #A0A3BD;
    margin: 5vh 1vw 1vh;
}

form {
    margin: 3vh 0 1vh 0;
    padding: 3vh 3vw 1vh 3vw;
    font: 600 16px 'Mulish';
    color: #4E4B66;
    position: relative;
}

.signin>form>input {
    margin-top: 2vh;
    padding: 3vh 1vw;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    background-color: #FCFDFE;
    width: 100%;
}

::placeholder {
    font: 400 16px 'Mulish';
    color: #A0A3BD;
}

form p:first-of-type, form p:nth-of-type(2) {
    visibility: hidden;
    font: 200 12px 'Mulish';
    color: red;
    margin-bottom: 2vh;
}

form div {
    display: flex;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    background-color: #FCFDFE;
    padding-right: 1vw;;
    margin-top: 2vh;
}

form div img {
    cursor: pointer;
}

form input {
    padding: 3vh 1vw;
    border: none;
    border-radius: 4px;
    background-color: #FCFDFE;
    width: 100%;
}

form input:focus {
    outline: none;
}

form p:nth-of-type(3) {
    text-align: right;
    margin-top: 5vh;
}

form button {
    background-color: #1D4ED8;
    color:#F7F7FC;
    font: 700 16px 'Mulish';
    margin: 5vh 0;
    padding: 3vh 4vw;
    border-radius: 4px;
    border: 1px solid #1D4ED8;
    width: 100%;
    cursor: pointer;
}

form p:last-of-type {
    visibility: hidden;
    font: 200 12px 'Mulish';
    color: green;
    margin-bottom: 2vh;
}

.or {
    display: flex;
    align-items: center;
    padding: 0 3vw;
}

.or div {
    flex: 1;
    border-bottom: 0.5px solid #DEDEDE;
}

.or p {
    font: 400 12px 'Inter';
    color: #aaa;
    margin: 0 2vw;
}

.socmed {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 3vh 0;
    padding: 3vh 3vw;
}

.socmed div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 2vh 1vw;
    font: 600 18px 'Mulish';
    color: #A0A3BD;
    border-radius: 4px;
    box-shadow: 1px 4px 10px lightgray;
    cursor: pointer;
}

.socmed div img, .socmed div p {
    padding: 0 1vw;
}

@media screen and (max-width: 767px) {
    body {
        background-position: center top;
    }

    .signin {
        margin: 0 5vw;
    }
    
    .socmed div p {
        display: none;
    }
}
